:root{
  --title-font-size : 275%;
  --medium-title-font-size : 225%;
  --smaller-title-font-size : 100%;
  --p-font-size : 75%;
	--menu-black: #111111;
	--menu-gray: #f3f2f7;
	--header-menu-image-top: 90px;
	--menu-white: #ffff;
	--menu-bold-weight: 600;
	--menu-bolder-weight: 700;
	--font-gray: rgb(85, 85, 85);
}

section{
  padding:0;
  margin: 0;
}
.section-title{
  width: 95%;
  text-align: center;
  margin: 2.5%;
}
.summary-container{
  width: 95%;
  padding: 2.5%;
  background-color: var(--menu-gray);
}

.summary-top, .summary-bottom{
  display: flex;
  justify-content: space-between;
}
.summary-middle{
  margin-top: 3%;
  margin-bottom: 3%;
}
#summary-amount{
  font-weight: 800;
}
.product-container{
  width: 95%;
  padding: 2.5%;
}
.product-table{
  width: 100%;
}
.product-table th:first-of-type{
  text-align: left;
}
.product-table th:last-of-type{
  text-align: right;
}
.product-table>thead{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.product-container th, .product-container td{
  width: 33%;
}
.product-table-img-cont{
  width: 100%;
}
.product-table-img-cont>img{
  width: 95%;
  padding: 2.5%;
}
.cart-product-name{
  font-weight: 900;
}

.trash-container{
  text-align: center;
}
section .white-icon{
  width:1em;
  height:1em;
  border: 0;
  background-color : white;

}

/* 버튼 쪽 */
section .plus2{
  display:flex;
  justify-content: center;
  /* border: 2px solid blue; */
}
section .plus3{
  display:flex;
  justify-content: space-between;
  width: 6em;
  height: 2em;
  /* border: 2px solid pink; */
  border-radius: 6em;
  background-color: rgb(243,243,247);
}
/* 버튼 - 쪽 */
section .plus2 .plus3 .minus{
  border: 0;
  outline: 0;
  border-radius : 30px;
  background-color: rgb(243,243,247);
}
section .plus2 .plus3 .minus:hover{
  background-color: black;
  color: var(--menu-white);
}
/* 버튼 사이 숫자 쪽 */
section .plus2 .plus3 .int{
  padding-top: 0.3em;
}
/* 버튼 + 쪽 */
section .plus2 .plus3 .plus{
  border: 0;
  outline: 0;
  border-radius: 30px;
  background-color: rgb(243,243,247);
}
section .plus2 .plus3 .plus:hover{
  background-color: black;
  color: var(--menu-white);
}
/* 제품 가격 */
section .money{
  text-align: right;  
}

.bottom-checkout-container{
  position: fixed;
  bottom: 0;
  width: 96%;
  padding: 2%;
  height: 2em;
  max-height: 50px;
  background-color: rgba(255, 255, 255, 0);
  display: flex;
  justify-content: center;
  z-index: 900;
}
.product-table-img-cont>img{
  max-width: 400px;
}
#checkout-btn{
  display:block;
  width:35%;
  height:46px;
  border-radius: 3em;
  border: 0;
  outline: 0;
  font-weight: bolder;
  background-color: black;
  color: white;
}