@charset "UTF-8";

section ul li {
	list-style: none;
}

section.width33 {
	width: 33%;
}

section.products-list-item-a {
	font-size: .9375rem;
	text-decoration: none;
	display: flex;
	flex-direction: column;
	height: 100%;
}

section .products-list-item {
	font-size: .9375rem;
	box-shadow: 3px 6px 9px 0 rgba(0, 0, 0, .1);
	margin-right: 12px;
	margin-left: 12px;
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: white;
	text-align: center;
	max-width: 25%;
}

section .shopify-image {
	cursor: pointer;
	width: 100%;
	max-width:300px;
	max-height:300px;
	background-size: contain;
	background-image:
		url("https://cdn.shopify.com/s/files/1/1052/2158/products/2791-Wall-E-POPGlam-WEB_d9d2ed14-dc3c-4816-b091-7fa704b716b6_400x2000.png?v=1601411410");
}

section .addtocart {
	text-transform: uppercase;
	font-size: 1rem;
	font-family: "Open Sans Condensed", sans-serif;
	font-weight: 700;
	border: 0;
	line-height: 1;
	padding: .75rem 1.25em;
	border-radius: 2em;
	position: relative;
	margin: .33rem 0;
	cursor: pointer;
	margin-left: 16.8%;
	display: block;
}

.products-list-item {
	flex-grow: 1;
	padding: 0 .5rem 2rem;
}