@charset "UTF-8";
*{
    margin: 0; padding: 0;
    
}
    /* 로그인창 */
section{
    justify-content: center;
    display: flex;
    align-items: center;
}
section h1{
    text-align: center;
}
.logo1-area,.logo2-area{
    text-align: center;
}
section #fun{
    width: 50%;
    height: 50%;
}
section .in-area h1{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 15px;

}
section .in-area{width: 450px; position: relative;}
section .in-area input{
    text-align: center;
    width: 100%;
    padding: 15px 10px 10px;
    margin: 15px;
    border-radius: 10px;
    background-color: transparent;
    font-size: 15px;
    outline: none;
}
section .btn-area{
    margin-top: 20px;
    text-align: center;
}
section .btn-area button{
	margin:10px;
    width: 30%;
    height: 40px;
    border-radius: 50px;
    background-color: white;
    border-style: dotted;
    outline: 0;


}
section .caption{
    margin-top: 10px;
    text-align: right;
}
section .caption a{
    font-size: 14px;
    text-decoration: none;
    color: blue;
}
section .last-area{
    margin-top: 10px;
    text-align: center;
}
.last-area a{
    margin: 10px;
    color: blue;
    text-decoration: none;
}
.login-form{
	display: flex;
	flex-direction: column;
	margin-bottom: 10%;
}

#kakao{
	width: 160px;
	max-height: 36px;
	cursor: pointer;
}

.sp-login{
	width:100%;
	display:flex;
	flex-direction: row;
	justify-content: space-around;
	
}

/* search-pw */
section h2{
   text-align: center;
   padding: 10px;
}
.input-area input{
    text-align: left;
    width: 100%;
    padding: 5px 6px 7px;
    margin-top: 70px;
    font-size: 15px;
    border-radius: 5px;
}

.btn-area2{
	margin: 20px;
    text-align: center;
}
.btn-area2 button{
    
     width: 40%;
    height: 40px;
    border-radius: 50px;
    background-color: white;
    border-style: dotted;
    outline: 0;
}
.last-area1{
	text-align: center;
	margin:20px;
}
.last-area1 a{
	color:blue;
	text-decoration: none;
}

/* email */

.pw-area>input{
    text-align: left;
    width: 100%;
    padding: 5px 6px 7px;
    margin-top: 50px;
    font-size: 15px;
    border-radius: 5px;
}
.btn-area3{
	margin: 30px;
}
.btn-area3 button{
	margin-left:80px;
	width: 40%;
    height: 40px;
    border-radius: 50px;
    background-color: white;
    border-style: dotted;
    outline: 0;
}
