:root{
  --menu-black: #111111;
  --menu-gray: #f3f2f7;
  --font-gray: rgb(85, 85, 85);
  --menu-white: #ffff;
}
section * {
  margin:0;
  padding:0;
  text-decoration: none;
  color: var(--menu-black);
}

section{
	margin-top: 2%;
}

.main-container{
  width: 100%;
  min-height: 58em;
  
}
.main-sub-titles{
  text-align: center;

}
.duration-button-container{
  text-align: right;
  padding-right: 2em;

}

/* 윗단 */
.main-top-container{
  width: 100%;
  height: 100%;
  display: flex;
  border-bottom: var(--font-gray) 1px dotted;
}
.financial-stat-container{
  width: 50%;
  height: 100%;
}
.popular-items-container{
  width: 25%;
  height: 100%;
  border-left: var(--font-gray) 1px dotted;
}
.popular-category-container{
  width: 25%;
  height: 100%;
  border-left: var(--font-gray) 1px dotted;
}

/* 아래단 */
.main-bottom-container{
  width: 100%;
  height: 24em;
  display: flex;
}
.chat-menu-container{
  width: 50%;
  height: 100%;
}
.notice-container{
  width: 50%;
  height: 100%;
  border-left: var(--font-gray) 1px dotted;
}

.stat-container{
  display: flex;
  width: 100%;
  height: 100%;
}
.financial-stat{
  width: 70%;
  height: 100%;
}
.sum-container{
  text-align: center;
  padding-top: 10em;
  width: 30%;
  height: 80%;
}

.chat-panel{
  display: flex;
  width: 100%;
  height: 92%;
}
.chat-count-container{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 30%;
  height: 22em;
}
.chat-list{
  width: 70%;
  border-left: var(--font-gray) 1px dotted;
}
